<mat-card class="feature-card" [ngClass]="state">
    <div class="feature-card-left" *ngIf="state == 'expanded'">
        <img [src]="image">
    </div>
    <div class="feature-card-right">
        <mat-card-header class="feature-card-header" (click)="toggleState()">
            <mat-card-title>{{ title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="state == 'expanded'">
            <p> {{ description }} </p>
            <hr>
            <div class=feature-card-tags>
                <div class="feature-card-tag" *ngFor="let tag of tags">
                    <span>{{ tag }}</span>
                </div>
            </div>
        </mat-card-content>
    </div>
</mat-card>