<mat-card class="feature-card" [ngClass]="state">
    <div class="feature-card-left" *ngIf="state == 'expanded'">
        <img [src]="image">
    </div>
    <div class="feature-card-right">
        <mat-card-header class="feature-card-header" (click)="toggleState()">
            <mat-card-title>{{ title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="state == 'expanded'">
            <p> {{ description }} </p>
            <hr>
            <mat-chip-list class=feature-card-tags>
                Tags: 
                <mat-chip class="feature-card-tag" *ngFor="let tag of tags">{{ tag | titlecase }}</mat-chip>
            </mat-chip-list>
        </mat-card-content>
    </div>
</mat-card>