.video-card {
  padding: 0;
}

.video-card-header {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  padding-top: 8px;
}

.video-card-header .video-card-title {
  color: var(--color-beige);
  font-size: 14px;
  margin-bottom: 8px;
}

.video-card-header .video-card-subtitle {
  color: var(--color-beige);
  font-size: 12px;
  margin-bottom: 6px;
}