<div id="header" class="header">
	<div class="header-inner">
		<div class="header-banner">
			<img class="header-banner-img" [src]="bannerSource" />
			<div class="header-banner-overlay"></div>
		</div>

		<div class="header-title-wrap">
			<div routerLink="" class="header-title">
				<img class="header-title-img" [src]="titleLogoSource" />
				<img class="header-title-wordart" [src]="titleWordartSource">
				<p class="header-tagline mctext" [innerHtml]="taglineText"></p>
			</div>
		</div>

	</div>
</div>