<div id="about" class="about">
	<div class="about-inner">

		<h3>About</h3>

		<p>{{shroomhearthName}} is a small vanilla Minecraft server and gaming community.</p>
		<p>Learn more on the <a href="https://bityardia.fandom.com/wiki/Bityard_Wiki">{{shroomhearthName}} Wiki</a>.</p>

		<iframe src="https://discord.com/widget?id=135555145512648704&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

	</div>
</div>
