<div id="about" class="about">
	<div class="about-inner">

		<div class="page-title">
			<div class="page-title-inner">
				<h3 class="page-title-text mctext">{{ pageTitle }}</h3>
			</div>
		</div>

		<div class="content-section-shadow"></div>

		<div class="page-content">
			<p>{{shroomhearthName}} is a small vanilla Minecraft server and gaming community.</p>
			<p>Learn more on the <a href="https://bityardia.fandom.com/wiki/Bityard_Wiki">{{shroomhearthName}} Wiki</a>.
			</p>

			<iframe src="https://discord.com/widget?id=135555145512648704&theme=dark" width="350" height="500"
				allowtransparency="true" frameborder="0"
				sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
		</div>

	</div>
</div>