<div id="about" class="about">
	<div class="about-inner">

		<div class="page-title">
			<div class="page-title-inner">
				<h3 class="page-title-text mctext">{{ pageTitle }}</h3>
			</div>
		</div>

		<div class="content-section-shadow"></div>

		<div class="page-content">
			<p>{{shroomhearthName}} is a small vanilla Minecraft server and gaming community.</p>

			<hr>

			<h4>The Story So Far...</h4>
			<section class="history">
				<div class="summary-area">
					<p>The community originated from a similarly small Minecraft server named PurePhun that was started in
						2013 by UburGeek. When PurePhun slowed down and became inactive, one of its players decided to
						create a server of their own to revive the PurePhun community.</p>
					<p>8bitChap started the Minesmash server in the beginning of 2014 and drove it with an exceptional
						creative energy that delighted and engaged its players. 8bit would always be innovating with
						Minecraft both in-game and out, whether he was proposing new building projects, utilizing command
						blocks to invent ephemeral gameplay curios, or even filming cinematic stories with other players on
						the server. Many looked up to him as one of the best leaders a Minecraft server could have and
						imagined him going on to create the next Mindcrack or Hermitcraft. Unfortunately, 8bit passed away
						towards the end of 2014 and bequeathed the ownership of Minesmash onto a close family friend,
						Paraphernalien. Para was also a charismatic leader and did everything he could to nurture
						Minesmash's vivacity. Despite his efforts, he could not commit to the server in the same degree as
						8bit and eventually more and more of his time became devoted to his family life. At the very least,
						Para ensured that Minesmash did not simply go dark with 8bit's passing and met a proper, delicate
						completion.</p>
					<p>It wasn't long after Minesmash closed before a yearning to play Minecraft together again grew within
						its remaining community members. Finally epolixa, a friend of 8bitChap's and one of his employed
						moderators, decided to establish a new server with the purpose of keeping 8bit's creative spirit
						alive and bringing back the friends that were made along the way. And so, in December of 2014, the
						Minecraft server known as "Bityard" was born.</p>
					<p>This server remains active to this day, after over 8 years of playtime, many updates to Minecraft,
						and several world resets.</p>
					<p>Towards the end of 2021, Bityard was re-named to "Shroomhearth" in order to displace itself from a
						copyrighted cryptocurrency platform and foster its own unique identity as a Minecraft community.</p>
					<br>
					<p>Shroomhearth has been active for {{shroomhearthActive}} days and its current world has been active for {{currentWorldActive}} days.</p>
				</div>
				<div class="timeline-area">
					<p-timeline [value]="timelineEvents">
						<ng-template pTemplate="content" let-event>
							{{ event.text }}
						</ng-template>
						<ng-template pTemplate="opposite" let-event>
							{{ event.date | date }}
						</ng-template>
					</p-timeline>
				</div>
			</section>

			<br>

			<hr>

			<h5>Join us on Discord!</h5>
			<iframe src="https://discord.com/widget?id=135555145512648704&theme=dark" width="350" height="500"
				allowtransparency="true" frameborder="0"
				sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
		</div>

	</div>
</div>