.server-info p.online span{
	color: green;
}

.server-info p.offline span{
	color: red;
}

.player-list {
	display: flex;
	flex-wrap: wrap;
}

.player-wrap {
	display: inline-block;
}

.player {
	display: block;
	text-decoration: none;
}

.player-name {
	display: block;
	text-align: center;
	margin-bottom: 4px;
}

.player-img {
	display: block;
	margin: 0 auto;
}

.bluemap-controls {
	display: flex;
    gap: 16px;
    align-items: center;
}

.bluemap-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bluemap {
	width: 512px;
	height: 512px;	
}

/*.datapack-feature-cards {
	display: flex;
    flex-direction: column;
    gap: 20px;
}*/

.feature-card-wrap {
	margin: 4px;
}

:host ::ng-deep .p-dataview .p-dataview-content {
	background: transparent;
}
:host ::ng-deep .p-paginator {
	background: transparent;
}