.server-info p.online span{
	color: green;
}

.server-info p.offline span{
	color: red;
}

.bluemap-container {
	padding-top: 56.25%;
	position: relative;
}

.bluemap {
	width: 100%;
	height: 100%;
	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
}