<div id="minecraft" class="minecraft">
	<div class="minecraft-inner">

		<div class="page-title">
			<div class="page-title-inner">
				<h3 class="page-title-text mctext">{{ pageTitle }}</h3>
			</div>
		</div>

		<div class="content-section-shadow"></div>

		<div class="page-content">
			<div class="server-info">
				<h4>Server Info:</h4>
				<p>IP: {{ ip }}</p>
				<p [ngClass]="{'online': online, 'offline': !online}">Status: <span>{{ online ? "Online" : "Offline"}}</span></p>
				<p *ngIf="online">Version: {{ version }}</p>
			</div>

			<div class="players">
				<h5 *ngIf="avatars.length > 0; else noPlayers">{{ avatars.length }} Players Online:</h5>
				<ng-template #noPlayers><h5>No Players Online...</h5></ng-template>
				<div class="player-list">
					<div class="player-wrap" *ngFor="let av of avatars">
						<a class="player" href="{{av.namemc}}" target="_blank">
							<span class="mctext player-name">{{av.name}}</span>
							<img class="player-img" src={{av.src}}>
						</a>
					</div>
				</div>				
			</div>

			<hr>

			<h5>Check out what we're working on with Trello:</h5>
			<blockquote class="trello-board-compact">
				<a href="https://trello.com/b/FGQWITBD/shroomhearth-smp" target="_blank">Shroomhearth SMP Trello</a>
			</blockquote>
			<!--<script src="https://p.trellocdn.com/embed.min.js"></script>-->

			<hr>

			<div class="bluemap-section">
				<h4>Check out our Bluemap!</h4>
				<div class="bluemap-controls">
					<button class="bluemap-toggle" (click)="toggleBluemap()">{{ (showBluemap ? "Hide" : "Show") + "
						Bluemap" }}</button> or <a [href]="bluemapUrl" target="_blank">open in new tab</a>
				</div>
				<br>
				<div class="bluemap-container" *ngIf="showBluemap">
					<iframe class="bluemap" [src]="safeBluemapUrl" title="Shroomhearth BlueMap"></iframe>
				</div>
			</div>

			<hr>

			<a href="https://shroomshops.vercel.app/" target="_blank"><h4>ShroomShops!</h4></a>

			<hr>

			<div class="datapack-info">
				<p>Shroomhearth utilizes a bespoke datapack for additional gameplay features.</p>
				<p>Check out the datapack <a href="https://github.com/epolixa/Shroomhearth-Datapack" target="_blank">source</a> or view the <a href="https://github.com/epolixa/Shroomhearth-Datapack/wiki" target="_blank">wiki</a> for more information.</p>
				<div class="datapack-feature-cards">
					<shroomhearth-feature-card *ngFor="let f of datapackFeatures" [title]="f.title" [description]="f.description" [image]="f.image" [tags]="f.tags"></shroomhearth-feature-card>
				</div>
			</div>

			<hr>

			<div class="fabric-info">
				<p>Shroomhearth runs on Fabric with some server-side mods:</p>
				<ul>
					<li><a href="https://www.curseforge.com/minecraft/mc-mods/lithium" target="_blank">Lithium</a></li>
					<li><a href="https://github.com/QuiltServerTools/BlockBot" target="_blank">Blockbot</a></li>
					<li><a href="https://bluemap.bluecolored.de/" target="_blank">BlueMap</a></li>
					<li><a href="https://www.curseforge.com/minecraft/mc-mods/ledger" target="_blank">Ledger</a></li>
					<li><a href="https://www.curseforge.com/minecraft/mc-mods/krypton" target="_blank">Krypton</a></li>
					<li><a href="https://www.curseforge.com/minecraft/mc-mods/simple-voice-chat" target="_blank">Simple Voice Chat</a></li>
					<li><a href="https://www.curseforge.com/minecraft/mc-mods/carpet" target="_blank">Carpet</a></li>
					<li><a href="https://modrinth.com/mod/horsebuff" target="_blank">HorseBuff</a></li>
					<li><a href="https://github.com/epolixa/Shroomhearth-Fabric" target="_blank">Shroomhearth's own Fabric mod</a></li>
				</ul>
				<p>You can still connect to the server with a vanilla Minecraft client.</p>
			</div>
		</div>

	</div>
</div>