<div id="minecraft" class="minecraft">
	<div class="minecraft-inner">

		<div class="page-title">
			<div class="page-title-inner">
				<h3 class="page-title-text mctext">{{ pageTitle }}</h3>
			</div>
		</div>

		<div class="content-section-shadow"></div>

		<div class="page-content">
			<div class="server-info">
				<h4>Server Info:</h4>
				<p>IP: {{ ip }}</p>
				<p [ngClass]="{'online': online, 'offline': !online}">Status: <span>{{ online ? "Online" : "Offline"}}</span></p>
				<p *ngIf="online">Version: {{ version }}</p>
			</div>

			<div class="datapack-info">
				<p>The server utilizes a bespoke datapack for additional gameplay features, including:</p>
				<ul>
					<li>Many advancements to guide through Shroomhearth's features as well as player-made challenges</li>
					<li>The Porcelain, a creative mode custom dimension</li>
					<li>An evolved Ender Dragon fight</li>
					<li>And more...!</li>
				</ul>
				<p>Check out the datapack <a href="https://github.com/epolixa/Shroomhearth-Datapack" target="_blank">source</a> or view the <a href="https://github.com/epolixa/Shroomhearth-Datapack/wiki" target="_blank">wiki</a> for more information.</p>
			</div>

			<div class="fabric-info">
				<p>The server runs on Fabric with some server-side mods:</p>
				<ul>
					<li><a href="https://www.curseforge.com/minecraft/mc-mods/lithium">Lithium</a></li>
					<li><a href="https://github.com/epolixa/Shroomhearth-Fabric" target="_blank">Shroomhearth's own Fabric mod</a></li>
				</ul>
				<p>You can still connect to the server with a vanilla Minecraft client.</p>
			</div>

			<hr>

			<div class="players">
				<h5>{{ avatars.length }} Players Online:</h5>
				<div *ngFor="let av of avatars">
					<img src={{av.src}}>
					<span class="mctext">{{av.name}}</span>
				</div>
				<div *ngIf="avatars.length == 0">
					<h5>No Players Online...</h5>
				</div>
			</div>

			<hr>

			<h5>Check out what we're working on with Trello:</h5>
			<blockquote class="trello-board-compact">
				<a href="https://trello.com/b/FGQWITBD/shroomhearth-smp" target="_blank">Trello Board</a>
			</blockquote>
			<!--<script src="https://p.trellocdn.com/embed.min.js"></script>-->

			<hr>

			<div class="bluemap-section">
				<div class="bluemap-controls">
					<button class="bluemap-toggle" (click)="toggleBluemap()">{{ (showBluemap ? "Hide" : "Show") + "
						Bluemap" }}</button> or <a [href]="bluemapUrl" target="_blank">open in new tab</a>
				</div>
				<br>
				<div class="bluemap-container" *ngIf="showBluemap">
					<iframe class="bluemap" [src]="safeBluemapUrl" title="Shroomhearth BlueMap"></iframe>
				</div>
			</div>
		</div>

	</div>
</div>