<div id="minecraft" class="minecraft">
	<div class="minecraft-inner">

		<h3>Minecraft</h3>

		<div class="server-info">
			<p>IP: http://104.219.7.153</p>
			<p>version: 1.16.2</p>
		</div>

		<blockquote class="trello-board-compact">
		  <a href="https://trello.com/b/FGQWITBD/bityard">Trello Board</a>
		</blockquote>
		<script src="https://p.trellocdn.com/embed.min.js"></script>

		<div class="map-container" *ngIf="showBluemap">
			<iframe class="map" src="http://104.243.41.80:25570" title="Bityard BlueMap"></iframe>
		</div>

	</div>
</div>
