<div id="home" class='home'>
	<div class="home-inner">
		<div class="home-past-broadcasts container">
			<div class="home-past-broadcasts-list row">
				<p-dataView #pastBroadcastsDataView 
					[value]="videos"
					[paginator]="true"
					[rows]="4"
					totalRecords="30"
					layout="grid"
					paginatorPosition="both"
					pageLinks="3"
				>
					<p-header>Past Broadcasts</p-header>
					<ng-template let-video pTemplate="gridItem">
						<div class="home-video-card ui-g-12 ui-md-3">
							<bityard-video-card class="card" [video]="video"></bityard-video-card>
						</div>
					</ng-template>
				</p-dataView>
			</div>
		</div>		
	</div>
</div>
