<div id="home" class="home">
	<div class="home-inner">

		<div class="page-title">
			<div class="page-title-inner">
				<h3 class="page-title-text mctext">{{ pageTitle }}</h3>
			</div>
		</div>

		<div class="content-section-shadow"></div>

		<div class="page-content">
			<!--<img src="assets/images/group_photo.png" width="100%">-->
			<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
				<div ngxSlickItem *ngFor="let slide of slides" class="slide">
					<img src="{{ slide.img }}" alt="" width="100%">
					<p>{{slide.caption}}</p>
				</div>
			</ngx-slick-carousel>
		</div>

	</div>
</div>