<div id="live" class="live">
	<div class="live-inner">

		<div class="page-title">
			<div class="page-title-inner">
				<h3 class="page-title-text mctext">{{ pageTitle }}</h3>
			</div>
		</div>

		<div class="content-section-shadow"></div>

		<div class="page-content">
			<div class="live-streams">
				<div *ngIf="twitchStreams.length > 0">
					<h4>Streaming Now</h4>
					<mat-tab-group class="streams-tab-group">
						<mat-tab *ngFor="let stream of twitchStreams" class="streams-tab">
							<ng-template mat-tab-label class="streams-tab-label">
								<img [src]="getUserFromStream(stream.user_id).profile_image_url" height="100px">
							</ng-template>
							<div class=streams-tab-thumbnail><img [src]="getStreamThumbnailUrl(stream.thumbnail_url)"></div>
							<button class=streams-tab-watch-live><a [href]="'https://twitch.tv/' + stream.user_login" target="_blank">Watch Live on Twitch</a></button>
							<span class="streams-tab-username">{{ stream.user_name }}</span>
							<p class="streams-tab-title">{{ stream.title }}</p>
							<p class="streams-tab-description">{{ getUserFromStream(stream.user_id).description }}</p>
							<p class="streams-tab-playing">Playing <span class="streams-tab-playing-game">{{ stream.game_name }}</span></p>
						</mat-tab>
					</mat-tab-group>
					<hr class="live-divider">
				</div>
			</div>
	
			<div class="live-videos">
				<ng-template #noTwitchVideos>
					<p>No recent broadcasts found</p>
				</ng-template>
				<div *ngIf="twitchVideos.length > 0; else noTwitchVideos">
					<h4>Recent Broadcasts</h4>
					<div class="live-videos-list">
						<shroomhearth-video-card *ngFor="let video of twitchVideos" class="card" [video]="video">
						</shroomhearth-video-card>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>