<div id="live" class="live">
	<div class="live-inner">

		<h3>Live</h3>

		<div class="live-streams container">
			<ng-template #noTwitchStreams>
				<p>No streams found</p>
			</ng-template>
			<div *ngIf="twitchStreams; else noTwitchStreams" class="live-streams-list row">
				<h4>Streams</h4>
				<div *ngFor="let stream of twitchStreams">
					<p><a [href]="'https://twitch.tv/' + stream.user_login" target="_blank">{{ stream.user_name }} is live!</a> {{ stream.title }}</p>
				</div>
			</div>
		</div>	

		<div class="live-videos container">
			<ng-template #noTwitchVideos>
				<p>No past broadcasts found</p>
			</ng-template>
			<div *ngIf="twitchVideos; else noTwitchVideos" class="live-videos-list row">
				<h4>Past Broadcasts</h4>
				<div *ngFor="let video of twitchVideos">
					<bityard-video-card class="card" [video]="video"></bityard-video-card>
				</div>
			</div>
		</div>		
	</div>
</div>
