/* You can add global styles to this file, and also import other style files */

/* Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Minecraft */
@import url('https://db.onlinewebfonts.com/c/6ab539c6fc2b21ff0b149b3d06d7f97c?family=Minecraft');

:root {
	--color-cyan: #13bbbb;
	--color-cyan-light: #5eefe8;
	--color-beige: #fdfce0;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Rubik', "Helvetica Neue", sans-serif; }

.mctext {
	font-family: 'Minecraft';
}