/* You can add global styles to this file, and also import other style files */

/* PrimeNG */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* Minecraft */
@font-face {font-family: "Minecraft";
    src: url("https://db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.svg#Minecraft") format("svg"); /* iOS 4.1- */
}

:root {
	--color-cyan: #13bbbb;
	--color-cyan-light: #5eefe8;
	--color-beige: #fdfce0;
	--color-offwhite: #eeeeee;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Noto Sans', "Helvetica Neue", sans-serif; }

a {
	color: var(--color-cyan);
}
a:hover {
	color: var(--color-cyan-light);
}

hr {
	border-top-color: #333;
}

.mctext {
	font-family: 'Minecraft';
}

.page-title {
	background-color: var(--color-beige);
	border-bottom: 2px solid var(--color-cyan);
}
.page-title-inner {
	width: 90%;
    max-width: 1080px;
    margin: auto;
    padding: 10px;
}
.page-title-text {
    margin: 0px;
	font-weight: bold;
	color: var(--color-cyan);
	text-shadow: -2px 2px #002A2A;
}

.page-content {
	min-height: 500px;
	width: 90%;
    max-width: 1080px;
    margin: auto;
    padding: 10px 20px;
	background-color: var(--color-offwhite);
}

.content-section-shadow {
    background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    height: 38px;
    margin-bottom: -38px;
    top: 44px;
    width: 100%;
}
