.world-download-inner {
    position: relative;
    height: 180px;
    width: 360px;
}

.world-download-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.world-download-background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.world-download-background-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.world-download-link:hover .world-download-background-img {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.world-download-info {
    color: white;
}